.city guide{ margin:0px; padding:0px;}
.xiangce{width:76px;padding:0px;float:right;margin: 10px 20px 0px 0px;}
.kuan{padding:0px;background-color:#FFF;color:#15abd1;margin: 3px 2px 2px 2px;border: 1px solid #cfcfcf;text-align: center;}
.fanye{width: 250px; padding:0px;margin: 20px auto 5px auto;}
