/* CSS 中间 开始 */

.content-bg {font-weight: bold;color: #212121;font-family: Verdana, Arial, Helvetica, sans-serif;padding-left: 10px;background: url(../images/bg10.gif) no-repeat;}
.main-left{ width:188px;margin:0px; padding:0px;}
.content-n {border: 1px solid #CCCCCC;background-color: #f3f3f3;margin: 0px;padding: 5px 0 0 0;}
.content-life{width:540px;margin:0px;color: #7d7c7c;padding: 0px;}

.welcome {margin: 5px 7px 5px 7px;padding: 0 0 8px 0;}
.welcome h1,.welcome h2{border-bottom: 1px solid #b5b5b5; height:30px; line-height:30px; font-size:14px; font-weight:bold; margin:0; padding:0;}
.welcome-quan{height: 200px;margin: 0px 7px 10px 7px;padding: 0 0 0 10px;}
.renshu {width: 200px;margin: 0px;padding: 0px;float: left;position: relative;padding: 0px;margin: 0px 5px 10px 0px;}
.renshu h5{margin:0px;font-size: 12px;line-height: 16px;font-weight: normal;padding: 0 0 0 70px;}
.renshu img {position:absolute;top:0;left:0;vertical-align: middle;max-width:60px;max-height:60px;_height:expression(this.width > 60 ? this.height*(60/this.width) : auto);_width:expression(this.width > 60 ? 60px : auto);/*  IE6 */}
.renshu p {margin: 0;padding: 0 0 0 70px;color: #a32062;}
.class-xinxi {margin: 0 5px;padding: 0 0 0 10px;}
.class-xinxi h3 {font-size: 12px;color: #79214d;margin: 0;padding: 5px 0 0 0; }
.class-xinxi a {color: #353535;text-decoration: none;padding-left: 10px;}

.qun-xinx li {margin: 0px;padding: 0px;}
.cuti {color: #993366;font-weight: bold;}

