/* CSS 中间 开始 */
#main {width:950px;	padding: 0px;margin: 0px auto;}
.main-left{ width:188px;margin:0px; padding:0px;}
.content-n {border: 1px solid #CCCCCC;background-color: #f3f3f3;margin: 0px;padding: 5px 0 0 0;}
.content-life{width:540px;margin:0px;color: #7d7c7c;padding: 0px;}
.touxiang {padding: 0px;margin: 0px 7px;}
.touxiang ul{list-style-type: none;margin: 0 0 0 10px;padding: 0px;line-height: 22px;}
.touxiang span {width: 144px;margin: 0px 10px 0px 0px;padding: 0px;float: left;height:151px;}
.touxiang li {margin: 0px;padding: 0px;}
.anjian {width: 250px;height: 50px;margin:0 0 0 150px;}
.anjian ul {list-style-type: none;font-weight: 500;color: #efefef;margin: 0px;padding: 0px;text-align: center;}
.anjian li {width: 82px;height: 25px;background: url(../images/pc/button02.gif) no-repeat;float: left;padding: 0px;margin: 10px 10px 0 10px;}
.GroupTopics {border-bottom: 1px solid #b9b9b9;font-weight: bold;color: #333333;margin: 0px 0px 5px 0px;padding: 0 0 7px 10px;}
.GroupTopics h5 {font-size: 12px;color: #393939;margin: 0 0 0 5px;padding: 0px;}
.huati {height: 30px;padding: 0px;border-bottom: 1px solid #dadada;margin: 10px 0 0 5px;}
.huati ul {margin: 0px;padding: 0px;}
.huati li {float: right;font-weight: bold;color: #711041;margin: 0px;padding:0 105px 0 0;}
.xiaoxin {margin: 0px;padding: 0px;}
.xiaoxin ul {margin: 0px;padding: 0px;list-style-type: none;}
.xiaoxin li {border-bottom: 1px dashed #dadada;	padding-top: 0 0 7px 0;margin: 0 0 5px 0;}
.xiaoxin span {width: 100px;float: right;margin: 0px;padding: 0px;}


.touxiang .h350{ height:350px;}
.touxiang dl{list-style:none;}
.touxiang dl dt{float:left;color: #993366;font-size: 12px;font-weight: bold; display:block; text-align:center; height:25px; line-height:25px; border-bottom:1px #ccc solid;}
.touxiang dl dd{ border-bottom:1px #ccc dotted;}
.touxiang dl dd,.touxiang dl dd span{float:left; margin:0; padding:0; height:30px; line-height:30px;}
.touxiang dl .c{ text-align:center;}
.touxiang dl .l{ text-align:left;}
.touxiang dl .r{ text-align:right;}

.touxiang dl .w410{width:410px;}
.touxiang dl .w320{width:320px;}
.touxiang dl .w220{width:220px;}
.touxiang dl .w100{width:100px;}
.touxiang dl .w50{width:50px;}



/* CSS 右边 开始 */
.next_lssue { margin:0px; padding: 0px;}
.n-life{width:735px;padding:0px;margin: 0px;float: left;}
.content-bg {font-weight: bold;color: #212121;padding-left: 10px;background: url(../images/bg10.gif) no-repeat;}
.next-bg{height:22px;background-color:#706c6d;border: 1px solid #aaaaaa;font-weight:bold;color: #FFFFFF;margin: 0;}
.next-n{border:1px solid #aaaaaa;background-color:#f3f3f3;font-weight: normal;color: #595959;line-height: 18px;padding: 0px;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;height: 285px;}
.chengyuan {height: 300px;padding: 0px;background-color: #f3f3f3;margin: 0 0 10px 0;}
.chengyuan dl {margin: 0px;padding: 5px 0px 5px 20px;line-height: 14px;float: left;}
.chengyuan dt {margin: 0px;padding: 0px;}
.chengyuan dd {width: 60px;text-align: center;margin: 5px 0 0 0;}
.right{padding:0px;float:right;margin: 0px;width: 200px;}
.class-xinxi h6 {font-size: 12px;color: #79214d;margin: 0px;padding: 5px 0 0 0; }
.class-xinxi a {color: #353535;text-decoration: none;padding-left: 10px;}
.next-n dl {clear: both;margin: 0px; padding: 10px 0 0 5px;line-height: 14px;}
.next-n dt {float: left;margin: 0px;padding: 0px;}
.next-n dd {width: 130px;margin: 0px;padding: 0px;float: right;}
.next-n span {display: block;font-weight: bold;color: #993366;margin-bottom: 3px;}
