.main-left a{line-height: 22px;font-weight: normal;text-decoration: none; color:#FFFFFF; display:block;}
.main-left a:hover{color:#078ba8;text-decoration: underline;}
.m10{padding-bottom:5px;}
.m10 a{margin:5px auto;}
.m10 a img{border:1px #666666 solid;margin:5px auto;}