.personals{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d3d3d3;margin: 0px 5px 0px 5px;padding: 10px 0px 8px 8px;}
.personals p{margin:0px;padding:0px;float: right;color: #841f52;}
.hui-bg {height: 15px;padding: 10px 0px 10px 10px;margin: 0px;}
.hui-bg ul {margin: 0px;list-style-type: none;text-align: center;padding: 0px;color: #727272;}
.hui-bg li {padding: 0px;background: url(../images/bg-h2.gif) no-repeat;float: left;margin: 0px;width: 120px;}
.personals-a {border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #8e8e8e;margin: 5px 5px 0px 5px;padding: 0px;}
.list-a img {padding-right:5px;}


