body{width:1003px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight: normal;line-height: 20px;color: #fff;background-color:#dfdfdf;
padding: 0px;margin: 0px auto;}

/* CSS top 开始 */
#top{width:950px;padding:0px;margin: 0px auto;}
.top-city h2{font-size:14px; width:96px; height:26px;line-height:26px; font-weight:normal;background-color:#262626; float:left; margin:0 5px;}
.top-city h2 a{width:96px; height:26px; line-height:26px; color:#828282; background-color:#262626; text-align:center; display:block;}
.top-city h2 .on{width:96px; height:26px; line-height:26px; color:#828282;}
.top-city h2 a:hover{width:96px; height:26px; line-height:26px;border:1px solid #503442; color:#bcbcbc;}
#header{ height:26px; margin:0px; padding:0px; background-color:#993366;}
.header-left{width:234px;margin:0px;padding:0px;float: left;}
.header-left span{ font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#FFF; margin:0px 0px 0px 10px; padding:0px;}
.colorz{width:240px;margin:0px;padding:0px;float: right;}
.colorz ul{margin:3px 0 0 0; padding:0px;list-style-type:none;} 
.colorz li{float: left;margin:0px;padding: 5px 0px 0px 8px;}
.clear{line-height:0px;clear:both;height: 0px;}
.top-content{margin:0px;padding:0px;background:url(../images/bg2.gif) repeat-x;}
.top-logo{margin:0px;padding:0px;}
.top-logo h1{width:169px;float:left;_margin: 0 0 0 30px;*margin: 0 0 0 30px;margin: 0 0 0 23px;padding: 5px 0 0 0;}
.top-city{width:466px;padding: 0px;margin: 25px 0 0 0;float: right;}
.top-city a{ margin:0px; padding:0 0 0 8px;}
.top-nav{width: 906px;padding: 0px; margin: 0px auto;}
.nav{width:550px;height: 20px;margin:0px;padding:0px;}
.nav .annv {width:94px;background: url(../images/Button.png) no-repeat;text-align: center;}
.nav ul{margin:0px;padding:0px;list-style-type:none;}
.nav li{float:left;padding:0;margin-right:50px;}
.search{width:230px;float:right;margin: 0px;padding: 0px;}
.bg{margin:0px;background: url(../images/bg3.gif) repeat-x; padding: 0px;height: 8px;}


/* CSS底部开始*/
#bottom{width:950px;background: url(../images/bg9.gif) repeat-x;text-align: center;margin:20px auto;;padding: 0;}
.title-h {display: block;font-size: 12px;font-weight: bold;color: #ef5f01;}
