body{ width:1003px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;margin:0px auto; padding:0px;line-height: 20px;color: #fff; background-color:#dfdfdf;}
a{text-decoration: none;}
a img{ border:none;}
#think_page_trace{color:#000;}


/* CSS top 开始 */
#top{width:950px;padding:0px;margin: 0px auto;}
.top-city h2{font-size:14px; width:96px; height:26px;line-height:26px; font-weight:normal;background-color:#262626; float:left; margin:0 5px;}
.top-city h2 a{width:96px; height:26px; line-height:26px; color:#828282; background-color:#262626; text-align:center; display:block;}
.top-city h2 a:hover,.top-city h2 .on{width:96px; height:26px; line-height:26px;border:1px solid #503442; color:#bcbcbc;}
#header{ height:26px; margin:0px; padding:0px; background-color:#993366;}
.header-left{width:334px;margin:0px;padding:0px;float: left;}
.header-left span{ font-family:arial, helvetica, sans-serif; font-size:12px;color:#fff; margin:0px 0px 0px 10px; padding:0px;}
.header-left span a{color:#fff;}
.colorz{width:240px;margin:0px;padding:0px;float: right;}
.colorz ul{margin:3px 0 0 0; padding:0px;list-style-type:none;}
.colorz li{float: left;margin:0px;padding: 0px 0px 0px 8px;}
.clear{line-height:0px;clear: both;height: 0px;}
.top-content{height: 125px;margin:0px;padding:0px;background:url(../images/bg2.gif) repeat-x;}
.top-logo{height: 96px;margin:0px;padding:0px;}
.top-logo h1{width:169px;float:left;margin: 0 0 0 60px; _margin: 0 0 0 30px;padding: 5px 0 0 0;}
.top-city{ width:466px; margin:0px; padding:25px 0 0 0; float:right;}
.top-city a{ margin:0px; padding:0 0 0 8px;}
.top-nav{margin: 0px;padding-left: 25px;width: 906px;}
.nav{width:650px;height: 20px;margin:0px;padding:0px;}
.nav a{color: #fff;}
.nav .annv {background: url(../images/button.png) no-repeat;}
.annv a{color: #fff;}
.nav ul{margin:0px;padding:0px;list-style-type:none;}
.nav li{float:left;padding:0;margin-right:50px;}
.search{width:230px;float:right;margin: 0px;padding: 0px;}
.bg{margin:0px;background: url(../images/bg3.gif) repeat-x; padding: 0px;height: 8px;}


/* CSS中间开始*/
#main {width:950px; height:auto; margin:0 auto;padding: 0px;}
.main-left{ width:188px;margin:0px; padding:0px;}
.main-left ul{ margin:0px; padding:0px; list-style-type:none;}
.main-left li{height:24px;margin:0px;padding:0px;background: url(../images/bg5.gif) repeat-x;text-align: center;}
.main-left .bg-a{height:24px;font-size: 14px;font-weight: bold;color: #993366;margin: 0px;background: url(../images/bg4.gif) repeat-x;padding: 0px;}
.main-left .di-yuan{ background:url(../images/bg_yuan.gif) no-repeat;}
.mian-right{width:749px;padding:0px;float:right;margin: 0 0 0 10px;}
.mian-center{width:509px;padding:0px;background-color: #f3f3f3;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-right-color: #cccccc;border-bottom-color: #cccccc;border-left-color: #cccccc;margin: 0px;float: left;}
.jianbian{height:25px;margin:0px;background:url(../images/bg6.gif) no-repeat;font-family: verdana, arial, helvetica, sans-serif;color: #393838;font-weight: bold;padding: 0 0 0 16px;}
.jianbian a{color: #393838;font-weight: bold;}
.center{width:481px;padding:0px;	border: 1px solid #cccccc;background-color:#fff;margin: 10px auto;}
.content_top{height:39px;background: url(../images/bg7.gif) no-repeat;font-family: arial, helvetica, sans-serif;font-size: 16px;font-weight: bold;color: #3a3a3a;margin: 2px 0px 0px 2px;padding: 0px 0px 0px 35px;}
.content_top a{color: #3a3a3a;text-decoration: none;line-height:39px;}
.content_top a:hover{text-decoration: underline;}
.content_di{height:184px;background:url(../images/bg8.gif) repeat-x;margin:0px 2px 2px 2px;}
.content_di ul{margin:10px 0 0 0;padding:0 4px 0 0;list-style-type:none;font-family: arial, helvetica, sans-serif;font-size: 12px;line-height: 22px;color: #656565;float: left;}
.content_di li{margin:0 0 0 5px; padding:0px;width:150px;float: left;}
.content_di li a{color: #656565;}
.content_di li a:hover{text-decoration: underline;}
.conter-right{width:225px;margin:0px;padding:0px;float: right;background-color: #eeeeee;border: 1px solid #ccc;}
.conter-group{margin:0px;width: 225px;}
.group{height:23px;background-color:#6f6c6c;font-family: arial, helvetica, sans-serif;font-weight: bold;padding-left: 25px;line-height:23px;}
.group-n{width: 225px; margin:5px 0 0 0;padding:0px;position: relative;float: right;}
.group-n h5{margin:0px;font-weight: bold;color: #993366;font-family: arial, helvetica, sans-serif;font-size: 12px;line-height: 22px;padding: 0 0 0 80px;}
.group-n img{margin:0px;left: 15px;position: absolute;top:3px;}
.group-n p{margin:0px;font-family:arial, helvetica, sans-serif;font-size:12px;color:#5c5b5b;padding: 0 0 0 80px;line-height: 14px;}
.advertisement{margin: 10px 0 0 0; padding:0px;}
#bottom{width:950px; height: 109px; background: url(../images/bg9.gif) repeat-x;margin: 0px;text-align: center; margin-top:10px; padding: 20px 0 0 0;}


.n-life{width:735px;padding:0px;margin: 0px; height:auto;}
.classifieds content{ margin:0px; padding:0px;}
.content-bg {font-weight: bold;color: #212121;font-family: Verdana, Arial, Helvetica, sans-serif;padding-left: 10px;background: url(../images/bg10.gif) no-repeat;}
.content-n {border: 1px solid #CCCCCC;background-color: #f3f3f3;margin: 0px;padding-top: 5px;padding-left: 10px;}
.content-life{width:540px;margin:0px;color: #7d7c7c;padding: 0px;}
.content-life a{color: #7d7c7c;}
.content-life h1{font-size: 14px;color: #b53e79;line-height: 25px; font-weight:bold;}
.content-n h4 {font-size: 12px; font-weight:bold;color: #b53e79;line-height: 22px;margin: 0px;padding: 5px 0px;}
.content-life p{ margin:0px; padding:0px; }
.content-life ul{padding:0px;list-style-type:none;margin: 20px 0 0 0;color: #FFFFFF;}
.content-life li{width: 116px;height: 25px; line-height:25px;background: url(../images/button.gif) no-repeat; margin:0px;padding: 0 15px 0 0;float: left;text-align: center;}
.content-life li a{color: #FFFFFF;}
.Comments-right{width:160px;margin:0px;padding:0px;float:right;}
.Comments{padding:0px;color: #bf6291;margin: 15px 0 0 0; height:auto;}
.biaoti {margin:10px 8px;background-position: 1px bottom;background:url(../images/xian.gif) repeat-x 0 10px;padding: 0px;}
.biaoti img{margin:0px;padding: 0px;}
.right{width:200px;padding:0px;float:right;margin-left: 10px;}
.next lssue { margin:0px; padding: 0px;}
.next-bg{height:22px;margin: 10px 0 0 0; padding-left:10px; background-color:#706c6d;border: 1px solid #aaaaaa; font-weight:bold;}
.next-n{margin:0px;padding:0px; border:1px solid #aaaaaa;background-color:#f3f3f3;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #595959;line-height: 18px;}
.next-n ul{padding:0px;list-style-type:none;margin: 0px 5px 0px 3px;}
.next-n li{margin:0px;padding-left:7px;padding-top:8px;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #535353;padding-bottom:5px;}
.Main-group {padding: 0px;margin: 10px 0px 0px 0px;height: 200px;border: 1px solid #aaaaaa;}
.Main-bg{height:22px;padding-left:10px;background-color:#706c6d;border: 1px solid #aaaaaa;font-weight:bold;margin: 0px;}
.Main-n{width: 198px;margin:0px;padding-top:5px;position: relative;background-color:#f3f3f3;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #595959;line-height: 18px;float: right;}
.Main-n h5{margin:0px;font-weight:bold;color: #993366;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 14px;padding-left: 70px;}
.Main-n p{margin:0px;color:#5c5b5b;line-height:14px;padding-left: 75px;}
.Main-n img{margin:0px;padding:0px;position: absolute;padding-top: 0;padding-right: 0;padding-bottom: 0;left: 5px;top:8px;}

.Comments-b {margin: 0px;padding: 0px; height:auto;}
.Comments-pic {width: 70px; margin: 0px;padding: 0 0 0 10px;}
.Comments-pic p {margin: 0px;padding: 0px 0px 0px 15px;}
.pic-right {width: 628px;padding: 0px;float: right;background: url(../images/bg12.gif) no-repeat;margin: 0px 5px 0px 0px;}
.pic-right-a {width: 628px;padding: 0px;float: right;background: url(../images/bg12.gif) no-repeat;margin: 0px 5px 0px 0px;}
.pic-right ul {list-style-type: none;padding-right: 5px;padding-left: 30px;
margin: 5px 0px 5px 0px;padding-top: 0;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 14px;font-weight: normal;color: #FFFFFF;}
.ziti {font-weight: bold;margin: 0px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.ditu {width: 342px;padding: 0px;margin: 0px 5px 0px 5px;}
.liuyanban {width: 590px; height: 98px; padding: 0px;background-color: #FFFFFF;border: 1px solid #999999;margin: 0px auto;}
.submit {width: 60px;height: 25px; line-height:25px; background: url(../images/Submit.gif) no-repeat;color: #FFFFFF;text-align: center;}
.fenye {width: 260px;height: 24px;background-color: #FFFFFF;padding: 0px;margin-bottom: 10px;margin-left: 460px;}

.liuyan{margin:10px 0;padding: 0px; height:auto;text-align: center;}
.liuyan .content {width:98%; height:98px; padding: 0px;background-color: #FFFFFF;border: 1px solid #999999;margin: 0px auto;}

.kuan {margin: 0px;padding: 0px;}
.gugou {float: right;padding: 0px;margin: 5px 30px 0px 0px;}
.list-a {margin: 0px 5px 0px 5px;padding: 8px 0px 0px 0px;}
.list-a h6 {margin: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;color: #9f5c7e;	font-weight: bold;
	padding-left: 5px;}
.list-a h6 a{color: #9f5c7e;}
.list-a p {margin: 0px;color: #808080;font-family: Arial, Helvetica, sans-serif;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 10px;}
.list-a p a{color: #808080;}
.personals{	margin: 0px 5px;padding-top: 10px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;border-bottom: 1px;border-bottom-style: solid;border-bottom-color: #d3d3d3;height:25px;}
.personals h1{width:280px; float:left; margin:0; padding:0; color:#000;}
.personals p{margin:0px;padding:0px;float: right;color: #999999;}
.personals p a{color: #999999;}


/* CSS底部开始*/
#bottom{width:950px;background: url(../images/bg9.gif) repeat-x;text-align: center;margin:10px auto 0px auto;padding: 20px 0 0 0;height: 107px;}
