.personals{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d3d3d3;margin: 0px 5px 0px 5px;padding: 10px 0px 8px 8px;}
.personals p{margin:0px;padding:0px;float: right;color: #841f52;}
.city guide{ margin:0px; padding:0px;}
.xiangce{width:100px;padding:0px;float:right;margin: 10px 20px 0px 0px; text-align:center;}
.kuan{padding:0px;background-color:#FFF;color:#15abd1;margin:5px auto;border: 1px solid #cfcfcf;text-align: center; display:block; width:60px; height:18px; line-height:18px;}
.kuan:hover{background-color:#cfcfcf;color:#15abd1;}

.personals-a {border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #8e8e8e;margin: 5px 5px 0px 5px;padding: 0px; height:120px;}
.list-a img {padding-right:5px;}