/*.personals{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d3d3d3;margin:0px 5px 0px 5px;_margin:0px 2px 0px 2px;padding: 10px 0px 8px 8px;}
.personals p{margin:0;padding:0;float: right;color: #841f52;}*/
.city guide{ margin:0; padding:0;}
.xiangce{width:100px;padding:0;float:right;margin: 10px 20px 10px 0px;*margin:5px 10px 5px 0px; text-align:center; height:100px; overflow:hidden;}
.kuan{padding:0;background-color:#FFF;color:#15abd1;margin:5px auto;_margin:2px auto;border: 1px solid #cfcfcf;text-align:center; display:block; width:70px; height:18px; line-height:18px;}
.kuan:hover{background-color:#cfcfcf;color:#15abd1;}
.personals-a {border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color: #8e8e8e;margin:5px 5px 0px 5px;_margin:2px 2px 0px 2px;padding:0;height:auto;overflow:hidden;}
.list-a img {padding-right:5px;}