/* left开始*/
.mian{ margin:0px auto; padding:0px;}
.memcp-left {width: 190px;margin: 0px;padding: 0px;color: #FFFFFF;
}.welcome{margin:0px;padding:0px;border: 1px solid #cccccc;}
.welcome-bg{ margin:0px; padding-left:20px; background-color:#6f6c6c;}
.material{margin:0px;padding-top:10px;text-align: center;color: #99406c;padding-bottom: 5px;font-weight: normal;background-color: #f3f3f3;}
.material a{margin: 0px;padding: 0px;font-size: 12px;font-weight: bold;color: #8b2557;line-height: 20px;}
.xinxi{width: 170px;line-height:22px;margin: 0px auto;padding-bottom: 5px;border-bottom: 1px dashed #767676;}
.xinxi p {margin: 0px;padding: 0px;color: #99406c;}
.regsiter{margin:5px 0 0 0;padding: 0px;}
.regsiter a{ margin:0px; padding-right:7px;}
.information{color:#258faa;text-align: center;margin: 3px 0 0 0;padding: 0px;}
.information span {display: block;color: #992654;margin-top: 5px;text-decoration: underline;}
.memcp-groups{padding:0px;border: 1px solid #cccccc;margin: 10px 0 0 0;}
.memcp-groups-bg{margin:0px;padding-left:28px;background: url(../images/rentou.gif) no-repeat #6f6c6c;background-position: 5px; height:25px; line-height:25px;}
.neirong{margin:0px;padding:10px 0  5px 18px;font-weight: normal;background-color: #f3f3f3;color: #99406c;line-height: 24px;}
.neirong a{color: #99406c;}
.neirong a:hover{color: #f00; text-decoration:underline;}

/* right开始*/
.memcp-right{width:750px;margin:0px;padding:0px;float:right;}
.right-neirong {margin: 0px;padding: 0px;}
.mulu {background: url(../images/bg-m.gif) repeat-x;border: 1px solid #bcbcbc;margin: 0px;padding:0 0 0 10px;font-weight: bold;color: #4a4a4a;}
.mulu a{color: #4a4a4a;}
.mulu a:hover{color: #f00; text-decoration:underline;}

.right-neirong{margin:0px;padding:0px;border: 1px solid #bcbcbc;background-color:#f4f4f4;}
.right-messages{width:725px;margin: 10px auto 0 auto;padding: 0 0 5px 0;}
.right-title {margin:0px;padding:0;}
.right-title span {float: right;}
.yangshi {font-weight: bold;color: #993366;margin:0;}

.list a{color:#4a4a4a;}
.list a:hover{color: #f00; text-decoration:underline;}
.list ul {padding: 0px;list-style-type: none;margin-top: 8px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.list li {margin: 0px;border-bottom: 1px dashed #9f9f9f;padding: 5px 0 7px 8px;}
.list span {float: right;margin: 0px;padding: 0px;}
.list img {padding-right: 0px;margin-right: 10px;}
.list {color: #3e3e3e;line-height: 22px;}
.list label{width:80px; text-align:center; display:block; float:left;}

.list .h350{min-height:350px; height:auto; overflow:hidden;}
.list dl{list-style:none;}
.list dl dt{float:left;color: #993366;font-size: 12px;font-weight: bold; display:block; text-align:center; height:25px; line-height:25px; border-bottom:1px #ccc solid;}
.list dl dd{ border-bottom:1px #ccc dotted;}
.list dl dd,.list dl dd span{float:left; margin:0; padding:0; height:30px; line-height:30px; overflow:hidden;}
.list dl .c{ text-align:center;}
.list dl .l{ text-align:left;}
.list dl .r{ text-align:right;}
.list .w420{width:420px;}
.list .w320{width:320px;}
.list .w220{width:220px;}
.list .w100{width:100px;}
.list .w150{width:150px;}
.list .w200{width:200px;}
.list .w50{width:50px;}

.list .album{padding: 0px;list-style-type: none; margin:0px;}
.list .album li{margin:0 5px;border-bottom: 1px dashed #9f9f9f; padding:0px; width:140px; float:left; height:auto;}
.list .album li img{border:none; margin:0;}



.qunzhu {height: 80px;border-bottom: 1px dashed #9f9f9f;padding: 0 0 5px 0;margin: 0 0 5px 0;}
.qunzhu dl {margin: 0px;clear: both;padding: 10px 0px 0px 10px;line-height: 24px;}
.qunzhu dt {margin: 0px;padding: 0px;clear: both;float: left;}
.qunzhu dd {width: 366px;float: left;margin: 0px;padding: 0 0 0 20px;}
.qunzhu span {display: block;color: #a42f69;margin: 0px;padding: 0px;font-size: 12px;line-height: 20px;}
.shuzi {text-align: center;margin-top: 5px;}
.riqi {width: 100px;float: right;padding: 0px;margin: 10px 0 0 0;}
.grzl {float: left;margin: 0px;padding: 0px;}
.cuti {font-weight: bold;font-family: Verdana, Arial, Helvetica, sans-serif;}
.shuzi {text-align: center;}

.qunzhu-events {height: 70px;border-bottom: 1px dashed #9f9f9f;padding: 0;margin: 0;}
.qunzhu-events dl {margin: 0px;clear: both;padding: 10px 0px 0px 0px;line-height: 24px;}
.qunzhu-events dt {margin: 0px;padding: 0px;clear: both;float: left;}
.qunzhu-events dd {width: 366px;float: left;margin: 0px;padding: 0 0 0 20px;}
.qunzhu-events span {display: block;color: #a42f69;margin: 0px;padding: 0px;font-size: 12px;line-height: 20px;}
.duanxin {text-align: right;color: #FFF;margin: 0px;padding: 0px;}
.duanxin dl{width: 220px;height: 56px;margin:0px;padding: 5px 0 0 0;border-right: 1px dashed #8b8b8b;clear:both;}
.duanxin dt {margin: 0px;padding: 0px;clear: both;float: left;}
.duanxin dd {width: 140px;float: left;margin: 0px;line-height: 14px;padding: 0 5px 0 0 ;}

.subject {color: #993366;font-size: 12px;font-weight: bold;padding-right: 100px;}
