/* left开始*/
#main {width:950px;padding: 0px;margin: 0px auto 0px auto;}
.main-left{width:188px;margin:0px; padding:0px;}
.main-left ul{margin:0; padding:0px; list-style-type:none;}
.main-left li{height:24px;margin:0;padding:0px;background: url(../images/bg5.gif) repeat-x;text-align: center;}
.main-left .bg-b{height:24px;font-size: 14px;font-weight: bold;color: #993366;margin: 0px;background: url(../images/bg4.gif) repeat-x;padding: 0px;}
.main-left .di-yuan{background:url(../images/bg_yuan.gif) no-repeat;}
.welcome{margin:0;padding:0px;border: 1px solid #cccccc;}
.welcome-bg{margin:0;padding-left:20px; background-color:#6f6c6c;}
.material{margin:0;padding-top:10px;text-align: center;color: #99406c;padding-bottom: 5px;font-weight: normal;background-color: #f3f3f3;}
.material a{margin: 0px;padding: 0px;font-size: 12px;font-weight: bold;color: #8b2557;line-height: 20px;}
.xinxi{width: 170px;line-height:22px;margin: 0px auto;padding-bottom: 5px;border-bottom: 1px dashed #767676;}
.xinxi p {margin: 0px;padding: 0px;color: #99406c;}
.regsiter{margin:5px 0 0 0;_margin:2px 0 0 0;padding: 0px;}
.regsiter a{ margin:0px; padding-right:7px;}
.information{color:#258faa;text-align: center;margin: 3px 0 0 0;_margin:1px 0 0 0;padding: 0px;}
.information span {display: block;color: #992654;margin-top: 5px;_margin-top:2px;text-decoration: underline;}
.memcp-groups{padding:0px;border: 1px solid #cccccc;margin:10px 0 0 0;_margin:5px 0 0 0;}
.memcp-groups-bg{margin:0px;padding-left:28px;background-color:#6f6c6c;background-position: 5px;background: url(../images/pc/rentou.gif) no-repeat;}
.neirong{margin:0;padding:10px 0 5px 18px;font-weight: normal;background-color: #f3f3f3;color: #99406c;line-height: 24px;}
.xuhao {width: 260px;height: 20px;background: url(../images/fany.gif) no-repeat;padding: 0px;margin: 20px auto 0px auto;_margin:10px auto 0px auto;}

/* right开始*/
.mian-right{width:752px;padding:0px;float:right;background-color: #f3f3f3;margin: 0px 0px 0px 10px;_margin:0;}
.events_poular{height:23px;margin: 0 0 10px 0;_margin: 0 0 5px 0;padding: 0px 0px 0px 10px;background: url(../images/pc/bg02.gif) repeat-x;border: 1px solid #bababa;font-weight: bold;color: #3a3a3a; line-height:23px;}
.events_poular a{color: #3a3a3a;}
.events_neibiao{overflow:hidden; height:auto;margin:0 5px 10px 5px;_margin:0 2px 5px 2px;padding:0 0 10px 10px;/*border-bottom: 1px dashed #434343;*/}
.events_neibiao ul{margin:0px; padding:0px; list-style-type:none; height:96px; height:auto;_height:130px; overflow:hidden;_overflow:visible;}
.events_neibiao span {margin:0px;float:left;padding: 0px 7px 0px 0px;width:96px;height:96px; overflow:hidden; text-align:center;}
.events_neibiao span a{padding:2px; border:#f3f3f3 solid 1px;}
.events_neibiao span img{vertical-align:middle;max-width:96px;max-height:96px;_height:expression(this.width > 96 ? this.height*(96/this.width) : this.height);_width:expression(this.width > 96 ? "96px" :this.width);}
.xiahhua {margin: 0px;padding: 0px;text-decoration: underline;color: #0f7892;}

.events_neibiao .event_info{float:left; width:600px;}
.events_neibiao .event_info h4{font-weight:bold;color: #993366; margin:0; font-size:14px;}
.events_neibiao .event_info h4 a{color:#993366;}
.events_neibiao .event_info p{ margin:0;}
.events_neibiao .event_info .calendar{float:right; width:80px; height:100px; background:url(../images/calendar1.gif) no-repeat top left; text-align:center;}
.events_neibiao .event_info .calendar .m,.events_neibiao .event_info .calendar .d1,.events_neibiao .event_info .calendar .t{height:25px;line-height:25px;font-size:14px; color:#FFFFFF; width:76px; padding:0; margin:0 auto;}
.events_neibiao .event_info .calendar .d1{color:#575757; font-size:10px; font-weight:bold;}
.events_neibiao .event_info .calendar .d2{height:25px;line-height:25px;color:#575757; font-size:26px; font-weight:bold;width:76px; padding:0; margin:0 auto;}
.events_neibiao .event_info .calendar .t{color:#575757; font-size:10px;}

.fore{
border:1px solid #E6E6E6;
height:20px;
line-height:20px;
padding:0 20px 0 5px;
position:relative;
float:left;
margin: 0 10px 20px 0;_margin: 0 5px 10px 0;
}
.fore:hover,.fore .hover {
border:1px solid #999999;
}
.fore a:link,.fore a:visited {
background:none repeat scroll 0 0 transparent;
color:#333333;
float:none;
height:20px;
line-height:20px;
margin-top:0;
white-space:nowrap;
}
.fore dt {
line-height:22px;
}
.fore strong {
color:#CC3300;
}
.fore b {
background:url("../images/bg_hotsale.gif") no-repeat scroll -62px -618px transparent;
cursor:pointer;
display:block;
height:11px;
position:absolute;
right:4px;
top:4px;
width:11px;
}

/* CSS链接样式*/
.main-left a{line-height: 22px;font-weight: normal;text-decoration: none; color:#FFFFFF;}
.main-left a:hover,.main-left .on{font-weight:bold; display:block; border:#fc6804 1px solid; background-color:#262626;}
.daohan a:link {font-size: 12px;text-decoration: none;color: #FFFFFF;}
.daohan a:visited {text-decoration: none;}
.daohan a:hover {color: #8e1345;text-decoration: underline;}
.daohn a:active {color: #FFFFFF;text-decoration: none;}
	
.personals{margin:0 5px;_margin:0 2px;padding-top: 10px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;border-bottom: 1px;border-bottom-style: solid;border-bottom-color: #d3d3d3;height:55px;}
.personals h1{ width:100%;float:left; margin:0; padding:0 0 0 5px; color:#000; font-size:16px; line-height:24px; height:24px; font-weight:bold;}
.personals .ctgl{line-height:18px; height:18px; float:left; width:100%;}
.personals .ctgl h3{margin:0 5px; font-size:12px; display:inline-block; float:left;}
.personals .ctgl h3 a{color: #999999;}
.personals .ctgl p{margin:0;padding:0;float:left; width:100%; text-align:right;color: #999999; display:block;}
.personals .ctgl p a{color: #999999;}

	
	
