.chengshi{margin:0px;color:#666666;clear: both;float: left;padding: 3px 0px 0px 0px;}
.chengshi dl{clear: both;margin: 0 0 0 15px;padding: 5px;}
.chengshi dt{margin:0px;padding:0px;clear: both;float:left;}
.chengshi img{vertical-align: middle;}
.chengshi dd{width: 345px;float:right;_padding:0px 30px 8px 15px;*padding:0px 50px 8px 15px; padding: 0px 40px 5px 15px; color: #1187a5;margin: 0px;}
.chegn_ttitle{margin:0px;padding-bottom: 3px;display: block;font-weight: bold;color: #a82767;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;}

.mian-center-n{width:508px;padding:0px;background-color: #f3f3f3;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-right-color: #CCCCCC;border-bottom-color: #CCCCCC;border-left-color: #CCCCCC;margin: 0px;float: left;}
.jianbian{height:25px;margin:0px;font-family: Verdana, Arial, Helvetica, sans-serif;color: #393838;font-weight: bold;padding: 0 0 0 16px;background: url(../images/bg02.gif) no-repeat;}
