.city guide{ margin:0px; padding:0px;}
.xiangce{width:100px;padding:0px;float:right;margin: 10px 20px 0px 0px; text-align:center;}
.kuan{padding:0px;background-color:#FFF;color:#15abd1;margin: 3px auto;border: 1px solid #cfcfcf;text-align: center; display:block; width:50px; height:18px; line-height:18px;}
.fanye{width: 250px; padding:0px;margin: 20px auto 5px auto;}
